<!DOCTYPE html>
<html>
<head><title>Home Page</title></head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>

<br/>

<form th:action="@{/findPlaces}" method="post" th:object="${selectCity}"> 
	<label for="name">Find Places in city</label>
	<select name="city"> 
	    <option  th:each="city: ${selectCity.cities}" 
	    		 th:value="${city.getValue()}" 
	    		 th:text="${city.getKey()}" 
	    		 name="city" 
	    		 th:selected ="${formObject.text} == ${city.value}"> 
	    </option> 
 	</select> 
	
	<input type="submit" value="Find Places">
</form> 

<br/>

<div th:if="${nearbyPlaces ne null}">
	<p th:text="${formObject.text}?:''"></p>
	<table>
		<tbody>
		    <tr th:each="place: ${nearbyPlaces}">
		        <td th:text="${place.name}" />
		        <td th:text="${place.icon}" />
		        <td th:text="${place.priceLevel}" />
		        <td th:text="${place.rating}" />
		        <td th:text="${place.vicinity}" />
		        <td th:text="${place.types}" />
		        <td>
		        	<a th:href="@{'/viewPlaceDetails/' + ${place.id}}">Edit</a>
		        </td>
		        <td>
		        	<a th:href="@{'/deletePlace/' + ${place.id}}">Delete</a>
		        </td>
		    </tr>
		</tbody>
	</table>
</div>

</body>
</html>